html, body {
text-align: center;
}
p {text-align: center;}

body {
	margin: 0;
	padding: 0;
	background: #339933;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}
